<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>perfectEvent</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>FileUploadHandler.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
      <servlet>
		<servlet-name>controllerEventAppUpload</servlet-name> 
	    <servlet-class>Controller.controllerEventAppUpload</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerEventAppUpload</servlet-name> 
	  <url-pattern>/Servlet/controllerEventAppUpload</url-pattern> 
    </servlet-mapping>
    
    <servlet>
	<servlet-name>controllerGetEventAppList</servlet-name> 
	  <servlet-class>Controller.controllerGetEventAppList</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetEventAppList</servlet-name> 
	  <url-pattern>/Servlet/controllerGetEventAppList</url-pattern> 
    </servlet-mapping>
    
    <servlet>
	<servlet-name>controllerUploadSponsor</servlet-name> 
	  <servlet-class>Controller.controllerUploadSponsor</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerUploadSponsor</servlet-name> 
	  <url-pattern>/Servlet/controllerUploadSponsor</url-pattern> 
    </servlet-mapping>
    
    <servlet>
	<servlet-name>controllerGetSponsorList</servlet-name> 
	  <servlet-class>Controller.controllerGetSponsorList</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetSponsorList</servlet-name> 
	  <url-pattern>/Servlet/controllerGetSponsorList</url-pattern> 
    </servlet-mapping>
    
    <servlet>
		<servlet-name>controllerEventGroupUpload</servlet-name> 
	    <servlet-class>Controller.controllerEventGroupUpload</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerEventGroupUpload</servlet-name> 
	  <url-pattern>/Servlet/controllerEventGroupUpload</url-pattern> 
    </servlet-mapping>
    
    <servlet>
	<servlet-name>controllerGetEventGroupList</servlet-name> 
	  <servlet-class>Controller.controllerGetEventGroupList</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetEventGroupList</servlet-name> 
	  <url-pattern>/Servlet/controllerGetEventGroupList</url-pattern> 
    </servlet-mapping>
    
      <servlet>
		<servlet-name>controllerEventUpload</servlet-name> 
	    <servlet-class>Controller.controllerEventUpload</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerEventUpload</servlet-name> 
	  <url-pattern>/Servlet/controllerEventUpload</url-pattern> 
    </servlet-mapping>
    
    <servlet>
	<servlet-name>controllerGetEventList</servlet-name> 
	  <servlet-class>Controller.controllerGetEventList</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetEventList</servlet-name> 
	  <url-pattern>/Servlet/controllerGetEventList</url-pattern> 
    </servlet-mapping>
    <servlet>
	<servlet-name>controllerGetEventListAll</servlet-name> 
	  <servlet-class>Controller.controllerGetEventListAll</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetEventListAll</servlet-name> 
	  <url-pattern>/Servlet/controllerGetEventListAll</url-pattern> 
    </servlet-mapping>
     <servlet>
		<servlet-name>controllerGeneralRegistration</servlet-name> 
	  	<servlet-class>Controller.controllerGeneralRegistration</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGeneralRegistration</servlet-name> 
	  <url-pattern>/Servlet/controllerGeneralRegistration</url-pattern> 
    </servlet-mapping>
         <servlet>
		<servlet-name>controllerUploadDiscussionTopic</servlet-name> 
	  	<servlet-class>Controller.controllerUploadDiscussionTopic</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerUploadDiscussionTopic</servlet-name> 
	  <url-pattern>/Servlet/controllerUploadDiscussionTopic</url-pattern> 
    </servlet-mapping>
             <servlet>
		<servlet-name>controllerUploadDiscussionComment</servlet-name> 
	  	<servlet-class>Controller.controllerUploadDiscussionComment</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerUploadDiscussionComment</servlet-name> 
	  <url-pattern>/Servlet/controllerUploadDiscussionComment</url-pattern> 
    </servlet-mapping>
	             <servlet>
		<servlet-name>controllerGetDiscussionTopic</servlet-name> 
	  	<servlet-class>Controller.controllerGetDiscussionTopic</servlet-class> 
	  </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetDiscussionTopic</servlet-name> 
	  <url-pattern>/Servlet/controllerGetDiscussionTopic</url-pattern> 
    </servlet-mapping>
 <servlet>
		<servlet-name>controllerGetDiscussionComment</servlet-name> 
	  	<servlet-class>Controller.controllerGetDiscussionComment</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetDiscussionComment</servlet-name> 
	  <url-pattern>/Servlet/controllerGetDiscussionComment</url-pattern> 
    </servlet-mapping>
 <servlet>
		<servlet-name>controllerUploadQuiz</servlet-name> 
	  	<servlet-class>Controller.controllerUploadQuiz</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerUploadQuiz</servlet-name> 
	  <url-pattern>/Servlet/controllerUploadQuiz</url-pattern> 
    </servlet-mapping>
     <servlet>
		<servlet-name>controllerGetQuiz</servlet-name> 
	  	<servlet-class>Controller.controllerGetQuiz</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetQuiz</servlet-name> 
	  <url-pattern>/Servlet/controllerGetQuiz</url-pattern> 
    </servlet-mapping>
 <servlet>
		<servlet-name>validateEmail</servlet-name> 
	  	<servlet-class>Controller.validateEmail</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>validateEmail</servlet-name> 
	  <url-pattern>/Servlet/validateEmail</url-pattern> 
    </servlet-mapping>
 <servlet>
		<servlet-name>LoginServlet</servlet-name> 
	  	<servlet-class>Controller.LoginServlet</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>LoginServlet</servlet-name> 
	  <url-pattern>/Servlet/LoginServlet</url-pattern> 
    </servlet-mapping>
   <servlet>
		<servlet-name>controllerEventRegistration</servlet-name> 
	  	<servlet-class>Controller.controllerEventRegistration</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerEventRegistration</servlet-name> 
	  <url-pattern>/Servlet/controllerEventRegistration</url-pattern> 
    </servlet-mapping>
    <servlet>
		<servlet-name>controllerInviteFriends</servlet-name> 
	  	<servlet-class>Controller.controllerInviteFriends</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerInviteFriends</servlet-name> 
	  <url-pattern>/Servlet/controllerInviteFriends</url-pattern> 
    </servlet-mapping>
 <servlet>
		<servlet-name>controllerValidateSession</servlet-name> 
	  	<servlet-class>Controller.controllerValidateSession</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerValidateSession</servlet-name> 
	  <url-pattern>/Servlet/controllerValidateSession</url-pattern> 
    </servlet-mapping>
    <servlet>
		<servlet-name>controllerRemoveSession</servlet-name> 
	  	<servlet-class>Controller.controllerRemoveSession</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerRemoveSession</servlet-name> 
	  <url-pattern>/Servlet/controllerRemoveSession</url-pattern> 
    </servlet-mapping>
   <servlet>
		<servlet-name>controllerGetFbUserName</servlet-name> 
	  	<servlet-class>Controller.controllerGetFbUserName</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerGetFbUserName</servlet-name> 
	  <url-pattern>/Servlet/controllerGetFbUserName</url-pattern> 
    </servlet-mapping>
 <servlet>
		<servlet-name>controllerUploadRoseiCash</servlet-name> 
	  	<servlet-class>Controller.controllerUploadRoseiCash</servlet-class> 
 </servlet>
	<servlet-mapping>
	  <servlet-name>controllerUploadRoseiCash</servlet-name> 
	  <url-pattern>/Servlet/controllerUploadRoseiCash</url-pattern> 
    </servlet-mapping>
</web-app>